<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartySalesTUCG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PartySalesTUCG.Properties.Settings>
            <setting name="ChavePix" serializeAs="String">
                <value>32302669000124</value>
            </setting>
            <setting name="BancoDados" serializeAs="String">
                <value>PartySalesTUCCG.accdb</value>
            </setting>
        </PartySalesTUCG.Properties.Settings>
    </applicationSettings>
</configuration>